Net "BTN3" LOC="C10" | IOSTANDARD = LVCMOS33; // money/start
Net "BTN0" LOC="C13" | IOSTANDARD = LVCMOS33; // Reset

// Segment 2
Net "seg[6]" LOC="E3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg[5]" LOC="E1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg[4]" LOC="G5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg[3]" LOC="D1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg[2]" LOC="E4"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg[1]" LOC="C1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg[0]" LOC="C2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;


// Clock
Net "clk" LOC="R2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "clk" CLOCK_DEDICATED_ROUTE = FALSE;

// Segment 1 
Net "seg2[6]" LOC="H6" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg2[5]" LOC="K2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg2[4]" LOC="H3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg2[3]" LOC="K1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg2[2]" LOC="G4"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg2[1]" LOC="J2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "seg2[0]" LOC="G3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "SW5" LOC="E14" | IOSTANDARD = LVCMOS33;
Net "SW6" LOC="D16" | IOSTANDARD = LVCMOS33;
Net "SW7" LOC="B16" | IOSTANDARD = LVCMOS33;





